.header{
    nav{
        margin: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .toggle-menu{
            z-index: 1001;
            i{
                font-size: 20px;
                color: #2d1818;
            }
        }
        .logo{
            display: flex;
            margin-right: 300px;
            .logo-holder{
                width: 30px;
                height: 20px;
                margin-top: 4px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            h2{
            }
            span{
                font-size: 10px;
            }
        }
        .search-bar{
            display: flex;
            .mobile-search{
                display: none;
            }
            input{
                width: 540px;
                height: 45px;
                border: none;
                border-radius: 25px 0px 0px 25px;
                box-shadow: inset 0px 0px 5px rgb(181, 176, 225);
                outline: 0.5px;
                transition: all 0.3s ease-in-out;
                &:focus {
            text-align: left; 
            padding-left: 40px;
             }

            }
            
            button{
                width: 80px;
                height: 45px;
                border: none;
                border-radius: 0px 25px 25px 0px;
               
                 box-shadow: inset 0px 0px 5px rgb(181, 176, 225);
                //  background: #fff;
                i{
                    transform: scale(1.6);
                    margin-right: 20px;
                   
                }
            }
        }
        .mic-btn{
            margin-right: 120px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #D9D9D9;
            position: relative;
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                color: #2d1818
            }
        }
        .create-btn{
            i{}
            span{}
        }
        .notify-btn{
            i{}
        }
        .profile-btn{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1080px) {
    nav {
      flex-wrap: wrap;

      .logo {
        margin-right: 50px;
        span {
          display: none;
        }
      }

      .search-bar {
        input {
          width: 300px;
        }

        button {
          display: none;
        }

        .mobile-search {
          display: block;
        }
      }

      .mic-btn {
        margin-right: 20px;
      }

      .create-btn,
      .notify-btn {
        display: none;
      }
    }
  }

@media (max-width: 768px) {
    nav {
      .logo {
        margin-right: 20px;
        h2 {
          font-size: 18px;
        }
      }

      .search-bar {
        input {
          width: 200px;
        }
      }

      .mic-btn {
        display: none;
      }
    }
  }

@media (max-width: 480px) {
    nav {
      margin: 10px;
      .logo {
        margin-right: 10px;
        .logo-holder {
          width: 25px;
          height: 15px;
        }
        h2 {
          font-size: 16px;
        }
      }

      .search-bar {
        input {
          width: 150px;
          height: 35px;
        }
        button {
          height: 35px;
        }
      }

      .profile-btn {
        width: 20px;
        height: 20px;
      }
    }
  }
